* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Playpen Sans', cursive;
    font-family: 'Poppins', sans-serif;
}

body{
    width: fit-content;
}

/*HEADER*/


header {
    background-color: #D9D9D9;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    justify-content: end;
}

header ul {
    display: flex;
    gap: 3rem;
    margin-right: 1rem;
    justify-content: end;
    align-items: center;
}

.menu-section {
    font-weight: bold;
    font-size: large;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #2F8F97;
}

.menu-section:hover {
    cursor: pointer;
    color: #297780;
}

.logo-web {
    width: 4rem;
    display: grid;
    justify-content: start;
    margin-left: 1rem;
}

.logo-shoppingcart {
    width: 40px;
}
 
figure.logo-rrss img {
    width: 30px;
    border: 1px solid black;
} 

.main-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr 4fr 1fr;
}


/*Estilo Login*/

.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    }
    
    .container-form {
    display: flex;
    height: 500px;
    max-width: 900px;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0 ,0 ,.1);
    transition: all 1s ease;
    margin: 10px;
    }
    
    .information {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #7ce4da;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    }
    
    .info-childs {
    width: 100%;
    padding: 0 30px;
    }
    
    .info-childs h2 {
    font-size: 2.5rem;
    color: #333;
    }
    
    .info-childs p {
    margin: 15px 0 ; 
    color: #555;
    }
    
    .info-childs input {
    background-color: transparent;
    outline: none;
    border: solid 2px #9191bd;
    border-radius: 20px;
    padding: 10px 20px;
    color: #9191bd;
    cursor: pointer;
    transition: background-color .3 ease;
    }
    
    .info-childs input:hover {
    background-color: #9191bd;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0 ,0 ,.1);
    }
    
    .form-information {
    width: 60%;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #f8f8f8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    }
    
    .form-information-childs {
    padding: 0 30px;
    }
    
    .form-information-childs h2 {
    color: #333;
    font-size: 2rem;
    }
    .form-information-childs p {
    color: #555;
    }
    
    .icons {
    margin: 15px 0 ;
    }
    
    .icons i {
    cursor: pointer;
    }
    .icons i:hover {
    background-color: #c7c7f3;
    color: #fff;
    }
    
    .form {
    margin: 30px 0 0 0;
    }
    
    .form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0 ,0 ,0 , .1);
    }
    .form label input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
    }
    .form label i {
    color: #a7a7a7;
    }
    
    .form input[type="submit"] {
    background-color: #9191bd;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0 ,0 ,0 , .1);
    }
    
    .form input[type="submit"]:hover {
    background-color: #7a7a9a;
    }
    
    .hide{
    position: absolute;
    transform: translateY(-300%); 
    }
    
    /* Fin del login*/
    
@media screen and (max-width: 768px) {
    .formulario {
        width: 80%;
    }
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {

    h4 {
        font-size: 28px;
        /* Ajusta el ancho al 100% en pantallas más pequeñas */
    }
}


/* Media query para pantallas más grandes */
@media screen and (max-width: 1000px) {
    .control {
        width: 86%;
        /* Ajusta el ancho al 100% en pantallas más pequeñas */
    }
}


/*FOOTER*/

footer {
    background-color: #D9D9D9;

    width: 100%;
    margin-top: 222px;


    display: grid;
    grid-template-columns: 5fr 1fr 5fr;

}

.about-footer {
    margin: 1rem;
    display: grid;
    justify-content: start;
}

.about-footer li {
    display: grid;
    justify-content: flex-start;
}

.rrss-footer {
    display: flex;
    align-items: center;
}

.logo-rrss {
    width: 60%;
    margin: 1rem;
    gap: 0;
    transition: all .3s;
}


.logo-rrss:hover {
    transform: scale(1.3);
}

.info-footer {
    margin: 1rem;

    display: grid;
    justify-content: flex-end;

}

.info-footer p,
li {
    display: grid;
    justify-content: flex-end;
}
.btnLogin{
    width: 10px;
    height: 10px;
}
.btnLogin:hover{
    transform: scale(1.3);
}