/*TODA LA WEB*/
@font-face {
    font-family: 'poppB';
    src: url("../fonts/poppins/Poppins-Bold.ttf") format('truetype');
}@font-face {
    font-family: 'poppR';
    src: url("../fonts/poppins/Poppins-Regular.ttf") format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppB';
}





/*HEADER*/

header{
    background-color: #D9D9D9;
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    
}

/*NAVEGADOR*/

.nav-links{
    display: flex;
    justify-content: end;
    
}

header ul{
    display: flex;
    gap: 3rem;
    margin-right: 1rem;

    /* grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column; */
    justify-content: end;
    align-items: center;
    
    
}

.menu-section{
    font-weight: bold;
    font-size: large;
   
}

/*ENLACES*/
a{
    text-decoration: none; /*Así le quitamos el subrayado a los enlaces*/
    color: #000; /*Así le quitamos el color azul a los enlaces*/
}

a:hover{
    color:#2F8F97;
}

.menu-section:hover{
    cursor: pointer;
    color: #297780;
}

/*LOGO*/
.logo-web{
    width: 4rem;
    display: grid;
    justify-content: start;
    margin-left: 1rem;
}


.main-container{
    
    height: 100vh;

    /* display: grid;
    grid-template-rows: 1fr 6fr 4fr 1fr; */

    gap: 80px;
    
}







/*SECCION PRINCIPAL*/

.main-image{
    max-width: 80%;
    max-height: 100%;
    margin-left: 3rem;
    width: 900px;

    object-fit: cover; /*Así conseguimos que la imagen se adapte al recuadro que la contiene*/
    transition: all .5s; /*Así conseguimos que al ampliar la imagen el efecto sea más suave*/

}

.main-image:hover{
    transform: scale(1.1); /*Así ampliamos la imagen*/
}

ul{
    list-style: none;
}

.main-offer{
    width: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(540px, 1fr));
    justify-content: space-between;
}
.main-offer figure{
    text-align: center; /* CENTRADO DE LA IMAGEN */
    width: 100%;
}

.main-text{
    display: grid;
    justify-items: center;
    padding-top: 2rem;
}

h1{
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
}

h4{
    font-size: 2rem;
    text-align: center;
    color: #2F8F97;
    /* margin-top: -3rem; */
}

.main-button{
    width: 90%;
    height: 2rem;
    margin: 15px;
    background-color: #2F8F97;
    border: #2F8F97;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0px #000; /*Sombra de los botones*/
    color: #ffff;

    font-size: 1.4rem;
    font-weight: 500;
        
}

.main-button:hover{
    cursor: pointer;
    background-color: #297780;
    transform: scale(1.1); 
    transition: all .5s; 
}

/*CAROUSEL DE PRODUCTOS*/

.carousel-products{
   
    display: grid;
    grid-template-columns: repeat(auto-fill,
            minmax(250px, 1fr));

    gap: 10px;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
@media screen and (max-device-width: 560px){ 
    .carousel-products{
   
        display: grid;
        grid-template-columns: 1fr;
    }
}

article.product{
    padding-bottom: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

article.product:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 15px;
}

.info-product{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-product p{
    font-size: large;
    font-weight: 900;
    padding-bottom: 1rem;
}

.info-product button{
    background-color: #2F8F97;
    border: #2F8F97;
    border-radius: 5px;
    box-shadow:0 3px 5px 0px #000;
    color: #ffff;
    font-size: large;
    font-weight: 500;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.info-product button:hover{
    cursor: pointer; 
    background-color: #297780;
    transform: scale(1.1); 
    transition: all .5s; 
}

article.product figure{
    overflow: hidden;
}

.image-product{
   min-width: 8em;
   max-width: 20px;

   object-fit: cover;
   transition: all .5s;

   margin-top: 3rem;
}

.image-product:hover{
    transform: scale(1.1);
}


/* Estilos por defecto para scroll horizontal */
.product-wrapper {
    display: flex; /* Flexbox para desplazamiento horizontal */
    overflow-x: auto; /* Scroll horizontal cuando el contenido excede el ancho */
    border: 1px solid #ccc;
    padding-bottom: 8px; /* Para compensar el espacio del scrollbar */
    width:80vw;
    margin: center;
  }
  
  .product {
    flex: 0 0 auto; /* Ajuste del tamaño de los productos en el flexbox */
    margin-right: 12px; /* Espacio entre productos */
  }
  
  /* Media query para pantalla menor de 560px */
  @media screen and (max-width: 560px) {
    .product-wrapper {
      display: block; /* Cambia a desplazamiento vertical */
      max-height: 300px; /* Altura máxima para mostrar el scroll vertical */
      overflow-y: auto; /* Scroll vertical cuando el contenido excede la altura */
      overflow-x: hidden; /* Oculta el scroll horizontal */
      width: 100%;
    }
  
    .product {
      margin-right: 0; /* Sin espaciado lateral en pantalla pequeña */
      margin-bottom: 12px; /* Espaciado entre productos en scroll vertical */
    }
  }
  
  





/*FOOTER*/

footer{
    background-color: #D9D9D9;
    
    width: 100%;
    margin-top: 80px;
    

    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    
}

.about-footer{
    margin: 1rem;
    display: grid;
    justify-content:start;
    font-family: 'poppR';
}

.about-footer li{
    display: grid;
    justify-content:flex-start;
}

.rrss-footer{
    display: flex;
    align-items: center;
}

.logo-rrss{
    width: 60%;
    margin: 1rem;
    gap:0;
    transition: all .3s;
}


.logo-rrss:hover{
    transform: scale(1.3); 
}

.info-footer{
    margin: 1rem;
    display: grid;
    justify-content:flex-end;
    font-family: 'poppR';
    
}

.info-footer p,li{
    display: grid;
    justify-content:flex-end;
    font-family: 'poppR';
}

.productoBuscado{
    display: block;
    margin: 30px;
    padding: 30px;
    left: 0;
    
}
.productoBuscado img{
    width: 120px;
}