* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Playpen Sans', cursive;
  font-family: 'Poppins', sans-serif;
}

body{
  width: fit-content;
}

/*HEADER*/


header {
  background-color: #D9D9D9;
  width: 100%;


  display: flex;
  justify-content: space-between;

  /* display: grid; */
}

.nav-links {
  display: flex;
  justify-content: end;

}

header ul {
  display: flex;
  gap: 3rem;
  margin-right: 1rem;

  /* grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column; */
  justify-content: end;
  align-items: center;
}

.menu-section {
  font-weight: bold;
  font-size: large;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #2F8F97;
}

.menu-section:hover {
  cursor: pointer;
  color: #297780;
}

.logo-web {
  width: 4rem;
  display: grid;
  justify-content: start;
  margin-left: 1rem;
}

.logo-shoppingcart {
  width: 40px;
}

figure.logo-rrss img {
  width: 30px;
  border: 1px solid black;
}

.main-container {
  /* background-color: red; */
  /* border: 3px solid black; */
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr 6fr 4fr 1fr;


}

/*SECCION PRINCIPAL*/

.main-image {
  max-width: 80%;
  max-height: 100%;
  margin-left: 10rem;

}

ul {
  list-style: none;
}

.main-offer {
  /* background-color: rgb(100, 235, 235); */
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

.main-text {
  display: grid;
  justify-items: center;

  padding-top: 2rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 1rem;
}

h4 {
  font-size: 2rem;
  text-align: center;
  color: #2F8F97;
  /* margin-top: -3rem; */
}

.main-button {
  width: 25%;
  height: 5rem;

  background-color: #2F8F97;
  border: #2F8F97;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0px #000;
  color: #ffff;

  font-size: 2rem;
  font-weight: bold;
  /* margin-top: -9rem; */

}

.main-button:hover {
  cursor: pointer;
  background-color: #297780;
}

/*CAROUSEL*/

.carousel-products {

  padding: 3rem;
  padding-bottom: 5rem;
  text-align: center;
  gap: 3.5rem;

  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(300px,1fr)); */
  grid-auto-flow: column;
}

article.product {
  /* border: 0.5px solid rgb(236, 233, 233); */
  padding-bottom: 1rem;
}

article.product:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
  border-radius: 15px;
}

.info-product p {
  font-size: large;
  font-weight: 900;
  padding-bottom: 1rem;
}

.info-product button {
  background-color: #2F8F97;
  border: #2F8F97;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0px #000;
  color: #ffff;

  font-size: large;
  font-weight: bold;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.info-product button:hover {
  cursor: pointer;
  background-color: #297780;

}

article.product figure {
  overflow: hidden;
}

.image-product {
  min-width: 40px;
  max-width: 220px;

  object-fit: cover;
  transition: all .5s;

  margin-top: 3rem;
}

.image-product:hover {
  transform: scale(1.1);
}

/* CARRITO COMPRA
/* .carrito {
  width: 80%;
  display: flex;
  /* grid-template-columns: 7fr 1fr; */

/*     
  margin-left: 20px;
  margin-top: 40px;


}

.products {

display: flex;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.row2 {
  display: flex;
  flex-wrap: wrap;
}

.article1 {


  margin-top: 15%;

}

.mini-price1 {
 
  
}

.cantidad {

  margin-top: 20%;
  display: flex;
}

.cantidad-input {
  width: 20%;
}



.colum2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  margin-top: 80px;
  width: 340px;   

}


h3{
  text-align: left;
} */ 


/* .carrito{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.products{
  display: flex;
  flex-direction: column;

}
.row  {
  display: flex;
  margin: 50px;
  /* flex-direction: column; */

/* }

.colum2{
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.colum2 > * {
  margin-bottom: 15px;

}

.image-text {

  
  display: flex;
}
.quantity {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  flex-direction: column;
}
.price{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 20px ;
  

}

.description{
  margin-top: 75px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.description ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;

}
.mini-price{
  margin-top: 50px ;
  font-weight: 700;
}


.producto{
  align-items: center;
}


.botons {
  background-color: #2F8F97;
  border: #2F8F97;
  width: 15rem;
  height: 3rem;
  border-radius: 13px;
  box-shadow: 0 3px 6px 0px #000;
  color: #ffff;
}
.botons:hover {
  cursor: pointer;
  background-color: #297780;
  
}

.cantidad{
  margin-top: 50px ;
}
.cantidad-input{
  width: 50px;
}

.colum2 h3{
  font-weight: 700;

} */ 

/*SECCION GRACIAS*/

.thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.check {
  max-width: 100%;
  height: auto;
}

.check-container {
  text-align: center;
}

.check:hover {
  transform: scale(1.1);
}

.thanks-text a {
  color: #2f8f97;
  text-decoration: none;
  font-weight: bold;
  transform: scale(2.8);
}

.thanks-text a:hover {
  color: #297780;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
}

h2:hover {
  color: #2f8f97;
}
h3 {
  font-size: 1.7rem;
  text-align: center;
  color: #000000;

  margin-top: 1rem;
}

p {
  font-size: 1.2rem;
  text-align: center;
  color: #000000;
  margin-top: 1rem;
}




/*FOOTER*/

footer {
  background-color: #d9d9d9;

  width: 100%;
  margin-top: 230px;

  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
}

.about-footer {
  margin: 1rem;
  display: grid;
  justify-content: start;
}

.about-footer li {
  display: grid;
  justify-content: flex-start;
}

.rrss-footer {
  display: flex;
  align-items: center;
}

.logo-rrss {
  width: 60%;
  margin: 1rem;
  gap: 0;
  transition: all 0.3s;
}

.logo-rrss:hover {
  transform: scale(1.3);
}

.info-footer {
  margin: 1rem;

  display: grid;
  justify-content: flex-end;
}

.info-footer p,
li {
  display: grid;
  justify-content: flex-end;
}